.sidebar{
    background: white;
    width: 400px;
    height: 100vh;
    box-shadow: 0 0 40px black;
    z-index: 100
}
.container{
    width:100vw;
    height: 100vh;
    display: flex;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.main .profile{
    padding: 25px;
    background: #f44336;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    transition: all 0.6s ease-in-out;
    box-shadow:0 0 1111px black;
}
.profile:hover{
    background: #3F51B5;
    
}

.main .profile img{
    border-radius: 100%;
    width: 150px;
}

.main .profile .name{
    font-size: 30px;
}
.list{
    display: flex;
    flex-direction: column;
}
.list .item{
    padding: 10px;
    display: flex;
    align-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    align-items: center
    /* width: 100% */
}
.list .item .content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.list .item .content .desc{
    font-size: 14pt;
    font-weight: 100;
}
.list .item .style{
    width:20px;
    height: 20px;
    border-radius: 100px;
    background: #f44336;
}
.list .item:hover{
    background: #e8e8e8;

}
.list .item .content .comment{
    font-size: 10px;
}
.social a{
  font-size: 30px;
  margin: 5px;
  text-decoration: none;
  color: white;
}

@media  (max-width: 700px){
    .container{
        flex-direction: column-reverse
    }
    .sidebar{
        width: 100vw;

    }
}