div(class="container")
    div(class="sidebar")
        div(class="list")
            a(class="item", href="#top") 
                div(class="style")
                div(class="content")
                    p(class="desc") Home
                    span(class="comment") Profile
            a(class="item", href="#top") 
                div(class="style")
                div(class="content")
                    p(class="desc") About
                    span(class="comment") know more about me (not ready)
            a(class="item", href="/blog") 
                div(class="style")
                div(class="content") 
                    p(class="desc") Blog
                    span(class="comment") my blog(not ready)
            a(class="item", href="/assets/junaid.resume.pdf", taget="_blank") 
                div(class="style")
                div(class="content")
                    p(class="desc") Download CV
                    span(class="comment") download my resume
            
    div(class="main")
        div(class="profile")
            img(src="/assets/pp.jpg")
            p(class="name") Muhammad Junaid
            div(class="social")
                a(class="fa icon ico icon--dark icon--medium fa-github", href="http://github.com/junaid1460")
                a(class="fa icon ico icon--dark icon--medium fa-facebook", href="https://www.facebook.com/crook1460")
                a(class="fa icon ico icon--dark icon--medium fa-twitter", href="https://twitter.com/junaid146000")
                a(class="fa icon ico icon--dark icon--medium fa-instagram", href="https://www.instagram.com/_soul_._reaper_/")

    