div(class="container")
    div(class="sidebar")
        div(class="list")
            a(class="item", href="#top") 
                div(class="style")
                div(class="content")
                    p(class="desc") Home
                    span(class="comment") Profile
            a(class="item", href="https://medium.com/@junaid1460", target="_blank") 
                div(class="style")
                div(class="content") 
                    p(class="desc") Blog
                    span(class="comment") Medium 
            a(class="item", href="/assets/junaid.resume.pdf", target="_blank", style="    color: #E91E63;") 
                div(class="style", style="    background: #ffcfdf;")
                div(class="content")
                    p(class="desc") Download CV
                    span(class="comment") download
            
    div(class="main")
        div(class="profile")
            div(class="profile-image")
            p(class="name") Muhammad Junaid
            div(class="social")
                a(class="fa icon ico icon--dark icon--medium fa-github", href="http://github.com/junaid1460", target="_blank")
                a(class="fa icon ico icon--dark icon--medium fa-linkedin", href="https://www.linkedin.com/in/junaid1460/", target="_blank")
                a(class="fa icon ico icon--dark icon--medium fa-facebook", href="https://www.facebook.com/crook1460", target="_blank")
                a(class="fa icon ico icon--dark icon--medium fa-twitter", href="https://twitter.com/junaid146000", target="_blank")
                a(class="fa icon ico icon--dark icon--medium fa-instagram", href="https://www.instagram.com/soull.reaper/", target="_blank")

    